<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="@ViewBag.ImageUrl" style="width:160px" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold" style="text-align:center">@ViewBag.NameSurname</span>
                        <span class="text-muted text-xs block" style="text-align:center; ">@ViewBag.Position <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">Profil</a></li>
                        <li><a class="dropdown-item" href="contacts.html">Əlaqə</a></li>
                        <li><a class="dropdown-item" href="mailbox.html">Mail</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="login.html">Çıxış</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    @ViewBag.sn1n1
                </div>
            </li>
            @if (User.IsInRole("Member"))
            {
                <li>
                    <a href="/Main/Index"><i class="fa fa-user fa-1x"></i> <span class="nav-label">Profil</span></a>
                </li>

            }
            @if (User.IsInRole("Moderator"))
            {
                <li>
                    <a href="#"><i class="fa fa-users fa-1x"></i> <span class="nav-label">Human Resources</span><span class="fa arrow fa-1x"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="active"><a href="/HumanResources/Index">HR Management</a></li>
                        <li class="active"><a href="/HumanResources/HrRecruitment">HR Recruitment</a></li>
                        <li class="active"><a href="/HumanResources/UploadFiles">File Upload</a></li>
                        <li class="active"><a href="/ListOfEmployee/Index">Ramil Siyahı</a></li>
                    </ul>
                </li>

            }
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="#"><i class="fa fa-user-secret fa-1x"></i> <span class="nav-label">Admin</span><span class="fa arrow fa-1x"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="active"><a href="/Admin/Index">Users</a></li>
                        <li class="active"><a href="/Admin/UserRole">Roles</a></li>
                    </ul>
                </li>
            }
            <li class="landing_link">
                <a target="_blank" href="https://localhost:44371/Main/Index"><i class="fa fa-star"></i> <span class="nav-label">Azfen Səhifə</span> <span class="label label-warning float-right">Yeni</span></a>
            </li>
        </ul>

    </div>
</nav>