@page
@model Project_L_A_Panel.Pages.Main.IndexModel
@{
    Layout = "_LayoutMainAdmin";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<h1>sala,</h1>
<h1>@ViewData["list"]</h1>
<h1></h1>
